@charset "UTF-8";

body{
    background-color: #EBC065;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: #8094F2;
    font-size: 1.5em;
    background-color: #F29580;
}

h2 {
    color: #CE80DB;
    background-color: #7BE8D5;
    font-size: 1.2em;
}

p {
    text-align: justify;
}